Options -Indexes
#ErrorDocument 402 http://riccio/402/
#ErrorDocument 403 http://riccio/403/
#ErrorDocument 404 http://riccio/404/
#ErrorDocument 500 http://riccio/500/
DirectoryIndex index.php

php_value default_charset utf-8
php_value register_globals off

#<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^([^/]+).html$ index.php?alias=$1 [L]
RewriteRule ^([^/]+).json$ index.php?alias=$1&mode=json [L]


RewriteRule ^([^/]+)/+([^/]+)/+([^/]+).json$ index.php?alias=$1&select=$2&limit=$3&mode=json [L]


#</IfModule>