Options -Indexes
#ErrorDocument 402 http://riccio/402/
#ErrorDocument 403 http://riccio/403/
#ErrorDocument 404 http://riccio/404/
#ErrorDocument 500 http://riccio/500/
DirectoryIndex index.php

php_value default_charset utf-8
php_value register_globals off

#<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^(.*)$ index.php [NC,L]

#</IfModule>