html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.icons-sprite, .icons-calendar, .icons-checked, .icons-comment, .icons-document, .icons-envelope, .icons-folder, .icons-ipad, .icons-magnifyglass, .icons-person, .icons-plus, .icons-settings, .icons-trashcan {
  background-image: url('/img/icons-s895016e0b2.png');
  background-repeat: no-repeat;
}

.icons-calendar {
  background-position: 0 0;
  height: 32px;
  width: 32px;
}

.icons-checked {
  background-position: 0 -32px;
  height: 32px;
  width: 32px;
}

.icons-comment {
  background-position: 0 -64px;
  height: 32px;
  width: 32px;
}

.icons-document {
  background-position: 0 -96px;
  height: 32px;
  width: 32px;
}

.icons-envelope {
  background-position: 0 -128px;
  height: 32px;
  width: 32px;
}

.icons-folder {
  background-position: 0 -160px;
  height: 32px;
  width: 32px;
}

.icons-ipad {
  background-position: 0 -192px;
  height: 32px;
  width: 32px;
}

.icons-magnifyglass {
  background-position: 0 -224px;
  height: 32px;
  width: 32px;
}

.icons-person {
  background-position: 0 -256px;
  height: 32px;
  width: 32px;
}

.icons-plus {
  background-position: 0 -288px;
  height: 32px;
  width: 32px;
}

.icons-settings {
  background-position: 0 -320px;
  height: 32px;
  width: 32px;
}

.icons-trashcan {
  background-position: 0 -352px;
  height: 32px;
  width: 32px;
}

.icons-sprite, .icons-calendar, .icons-checked, .icons-comment, .icons-document, .icons-envelope, .icons-folder, .icons-ipad, .icons-magnifyglass, .icons-person, .icons-plus, .icons-settings, .icons-trashcan {
  display: inline-block;
}

.container {
  width: 60em;
  margin: 0 auto;
  position: relative;
}
.container:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.container .container {
  width: auto;
  margin: 0 0.5%;
}

.column {
  height: 100%;
  display: inline-block;
  position: relative;
  float: left;
  margin: 0 0.5%;
}
.column.large1 {
  width: 3.16667%;
}
.column.push1 {
  left: 4.16667%;
}
.column.pull1 {
  left: -4.16667%;
}
.column.large2 {
  width: 7.33333%;
}
.column.push2 {
  left: 8.33333%;
}
.column.pull2 {
  left: -8.33333%;
}
.column.large3 {
  width: 11.5%;
}
.column.push3 {
  left: 12.5%;
}
.column.pull3 {
  left: -12.5%;
}
.column.large4 {
  width: 15.66667%;
}
.column.push4 {
  left: 16.66667%;
}
.column.pull4 {
  left: -16.66667%;
}
.column.large5 {
  width: 19.83333%;
}
.column.push5 {
  left: 20.83333%;
}
.column.pull5 {
  left: -20.83333%;
}
.column.large6 {
  width: 24%;
}
.column.push6 {
  left: 25%;
}
.column.pull6 {
  left: -25%;
}
.column.large7 {
  width: 28.16667%;
}
.column.push7 {
  left: 29.16667%;
}
.column.pull7 {
  left: -29.16667%;
}
.column.large8 {
  width: 32.33333%;
}
.column.push8 {
  left: 33.33333%;
}
.column.pull8 {
  left: -33.33333%;
}
.column.large9 {
  width: 36.5%;
}
.column.push9 {
  left: 37.5%;
}
.column.pull9 {
  left: -37.5%;
}
.column.large10 {
  width: 40.66667%;
}
.column.push10 {
  left: 41.66667%;
}
.column.pull10 {
  left: -41.66667%;
}
.column.large11 {
  width: 44.83333%;
}
.column.push11 {
  left: 45.83333%;
}
.column.pull11 {
  left: -45.83333%;
}
.column.large12 {
  width: 49%;
}
.column.push12 {
  left: 50%;
}
.column.pull12 {
  left: -50%;
}
.column.large13 {
  width: 53.16667%;
}
.column.push13 {
  left: 54.16667%;
}
.column.pull13 {
  left: -54.16667%;
}
.column.large14 {
  width: 57.33333%;
}
.column.push14 {
  left: 58.33333%;
}
.column.pull14 {
  left: -58.33333%;
}
.column.large15 {
  width: 61.5%;
}
.column.push15 {
  left: 62.5%;
}
.column.pull15 {
  left: -62.5%;
}
.column.large16 {
  width: 65.66667%;
}
.column.push16 {
  left: 66.66667%;
}
.column.pull16 {
  left: -66.66667%;
}
.column.large17 {
  width: 69.83333%;
}
.column.push17 {
  left: 70.83333%;
}
.column.pull17 {
  left: -70.83333%;
}
.column.large18 {
  width: 74%;
}
.column.push18 {
  left: 75%;
}
.column.pull18 {
  left: -75%;
}
.column.large19 {
  width: 78.16667%;
}
.column.push19 {
  left: 79.16667%;
}
.column.pull19 {
  left: -79.16667%;
}
.column.large20 {
  width: 82.33333%;
}
.column.push20 {
  left: 83.33333%;
}
.column.pull20 {
  left: -83.33333%;
}
.column.large21 {
  width: 86.5%;
}
.column.push21 {
  left: 87.5%;
}
.column.pull21 {
  left: -87.5%;
}
.column.large22 {
  width: 90.66667%;
}
.column.push22 {
  left: 91.66667%;
}
.column.pull22 {
  left: -91.66667%;
}
.column.large23 {
  width: 94.83333%;
}
.column.push23 {
  left: 95.83333%;
}
.column.pull23 {
  left: -95.83333%;
}
.column.large24 {
  width: 99%;
}
.column.push24 {
  left: 100%;
}
.column.pull24 {
  left: -100%;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: Tahoma, Geneva, sans-serif;
  background-color: blue;
  background-image: url("../img/background.png");
}

.logo {
  height: 1.8em;
  font-size: 4.5em;
  color: #220f08;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 0.4em;
  padding-left: 2em;
  background-image: url("../img/riccio.png");
  background-repeat: no-repeat;
  background-position: center left 20px;
}

.menu {
  height: 3.125em;
  background-color: #aea858;
  -moz-box-shadow: black 0px 1px 0px;
  -webkit-box-shadow: black 0px 1px 0px;
  box-shadow: black 0px 1px 0px;
}
.menu-item {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  text-align: center;
  padding-top: 0.8125em;
}
.menu-item:hover {
  background-color: #666937;
}
.menu-item a {
  color: white;
  font-size: 1.125em;
  text-decoration: none;
  border-bottom: 1px solid white;
  text-shadow: black 0px 1px 1px;
}

.content {
  background-color: rgba(255, 255, 255, 0.25);
}
.content h1 {
  position: relative;
  font-size: 1.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 1.66667em;
  width: 15em;
  background-color: #aa9670;
  -moz-box-shadow: white 0px 1px 0px;
  -webkit-box-shadow: white 0px 1px 0px;
  box-shadow: white 0px 1px 0px;
  padding-top: 0.29167em;
  padding-left: 0.29167em;
  margin-top: 0.83333em;
  margin-bottom: 0.83333em;
  left: -0.16667em;
}
.content p {
  position: relative;
  margin-left: 1.25em;
  margin-right: 1.25em;
  margin-bottom: 1em;
}

.rightcol {
  background-color: rgba(255, 255, 255, 0.25);
}

.widget {
  margin-top: 1.25em;
}
.widget-head {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 2.22222em;
  position: relative;
  left: -0.22222em;
  background-color: #b4442d;
  text-shadow: black 0px 1px 1px;
  color: white;
  font-size: 1.125em;
  margin-bottom: 1.25em;
  padding-top: 0.55556em;
  padding-left: 0.55556em;
  -moz-box-shadow: black 0px 1px 0px;
  -webkit-box-shadow: black 0px 1px 0px;
  box-shadow: black 0px 1px 0px;
}
.widget-content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-bottom: 0.75em;
}

.footer {
  height: 3.125em;
  background-color: #e68854;
  -moz-box-shadow: white 0px 1px 0px;
  -webkit-box-shadow: white 0px 1px 0px;
  box-shadow: white 0px 1px 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 0.9375em;
  padding-left: 0.625em;
}
