html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.icons-sprite, .icons-calendar, .icons-checked, .icons-comment, .icons-document, .icons-envelope, .icons-folder, .icons-ipad, .icons-magnifyglass, .icons-person, .icons-plus, .icons-settings, .icons-trashcan {
  background-image: url('/img/icons-s895016e0b2.png');
  background-repeat: no-repeat;
}

.icons-calendar {
  background-position: 0 0;
  height: 32px;
  width: 32px;
}

.icons-checked {
  background-position: 0 -32px;
  height: 32px;
  width: 32px;
}

.icons-comment {
  background-position: 0 -64px;
  height: 32px;
  width: 32px;
}

.icons-document {
  background-position: 0 -96px;
  height: 32px;
  width: 32px;
}

.icons-envelope {
  background-position: 0 -128px;
  height: 32px;
  width: 32px;
}

.icons-folder {
  background-position: 0 -160px;
  height: 32px;
  width: 32px;
}

.icons-ipad {
  background-position: 0 -192px;
  height: 32px;
  width: 32px;
}

.icons-magnifyglass {
  background-position: 0 -224px;
  height: 32px;
  width: 32px;
}

.icons-person {
  background-position: 0 -256px;
  height: 32px;
  width: 32px;
}

.icons-plus {
  background-position: 0 -288px;
  height: 32px;
  width: 32px;
}

.icons-settings {
  background-position: 0 -320px;
  height: 32px;
  width: 32px;
}

.icons-trashcan {
  background-position: 0 -352px;
  height: 32px;
  width: 32px;
}

.icons-sprite, .icons-calendar, .icons-checked, .icons-comment, .icons-document, .icons-envelope, .icons-folder, .icons-ipad, .icons-magnifyglass, .icons-person, .icons-plus, .icons-settings, .icons-trashcan {
  display: inline-block;
}

.container {
  width: 37.5em;
  margin: 0 auto;
  position: relative;
}
.container:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.container .container {
  width: auto;
  margin: 0 0.5%;
}

.column {
  height: 100%;
  display: inline-block;
  position: relative;
  float: left;
  margin: 0 0.5%;
}
.column.large1 {
  width: 7.33333%;
}
.column.push1 {
  left: 8.33333%;
}
.column.pull1 {
  left: -8.33333%;
}
.column.large2 {
  width: 15.66667%;
}
.column.push2 {
  left: 16.66667%;
}
.column.pull2 {
  left: -16.66667%;
}
.column.large3 {
  width: 24%;
}
.column.push3 {
  left: 25%;
}
.column.pull3 {
  left: -25%;
}
.column.large4 {
  width: 32.33333%;
}
.column.push4 {
  left: 33.33333%;
}
.column.pull4 {
  left: -33.33333%;
}
.column.large5 {
  width: 40.66667%;
}
.column.push5 {
  left: 41.66667%;
}
.column.pull5 {
  left: -41.66667%;
}
.column.large6 {
  width: 49%;
}
.column.push6 {
  left: 50%;
}
.column.pull6 {
  left: -50%;
}
.column.large7 {
  width: 57.33333%;
}
.column.push7 {
  left: 58.33333%;
}
.column.pull7 {
  left: -58.33333%;
}
.column.large8 {
  width: 65.66667%;
}
.column.push8 {
  left: 66.66667%;
}
.column.pull8 {
  left: -66.66667%;
}
.column.large9 {
  width: 74%;
}
.column.push9 {
  left: 75%;
}
.column.pull9 {
  left: -75%;
}
.column.large10 {
  width: 82.33333%;
}
.column.push10 {
  left: 83.33333%;
}
.column.pull10 {
  left: -83.33333%;
}
.column.large11 {
  width: 90.66667%;
}
.column.push11 {
  left: 91.66667%;
}
.column.pull11 {
  left: -91.66667%;
}
.column.large12 {
  width: 99%;
}
.column.push12 {
  left: 100%;
}
.column.pull12 {
  left: -100%;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 1.1em;
}

#mid {
  position: relative;
}

.container {
  height: 5.4em;
}

.square {
  width: 6em;
  height: 6em;
}

.hex {
  position: relative;
  top: 29%;
  display: inline-block;
  width: 100%;
  height: 58%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border-left: 8px #5b4500 solid;
  border-right: 8px #5b4500 solid;
}
.hex:before, .hex:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border: inherit;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.hex:before {
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  left: -8px;
}
.hex:after {
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
  left: -8px;
}
.hex .inner {
  position: relative;
  z-index: 1;
  display: table-cell;
  width: 2em;
  height: 1.2em;
  vertical-align: middle;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 3em;
}

.centro {
  border-left: 8px #e0aa00 solid;
  border-right: 8px #e0aa00 solid;
}

.seq {
  border-left: 8px #8c7200 solid;
  border-right: 8px #8c7200 solid;
}

.bot .inner {
  color: #cfbe7c;
}

.hex-one {
  background-color: transparent;
}

@-webkit-keyframes bgcolor {
  0% {
    border-left: 8px #c29200 solid;
    border-right: 8px #c29200 solid;
  }
  50% {
    border-left: 8px #fffa70 solid;
    border-right: 8px #fffa70 solid;
  }
  100% {
    border-left: 8px #c29200 solid;
    border-right: 8px #c29200 solid;
  }
}
@-moz-keyframes bgcolor {
  0% {
    border-left: 8px #c29200 solid;
    border-right: 8px #c29200 solid;
  }
  50% {
    border-left: 8px #fffa70 solid;
    border-right: 8px #fffa70 solid;
  }
  100% {
    border-left: 8px #c29200 solid;
    border-right: 8px #c29200 solid;
  }
}
@-ms-keyframes bgcolor {
  0% {
    border-left: 8px #c29200 solid;
    border-right: 8px #c29200 solid;
  }
  50% {
    border-left: 8px #fffa70 solid;
    border-right: 8px #fffa70 solid;
  }
  100% {
    border-left: 8px #c29200 solid;
    border-right: 8px #c29200 solid;
  }
}
@keyframes bgcolor {
  0% {
    border-left: 8px #c29200 solid;
    border-right: 8px #c29200 solid;
  }
  50% {
    border-left: 8px #fffa70 solid;
    border-right: 8px #fffa70 solid;
  }
  100% {
    border-left: 8px #c29200 solid;
    border-right: 8px #c29200 solid;
  }
}
.cm {
  -moz-animation-name: bgcolor;
  -webkit-animation-name: bgcolor;
  animation-name: bgcolor;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -moz-animation-delay: 0;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -moz-animation-play-state: running;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  cursor: pointer;
}

#scrin {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10000;
}

.cm {
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}
.cm:hover {
  -moz-transform: rotate(-330deg) scale(3);
  -ms-transform: rotate(-330deg) scale(3);
  -webkit-transform: rotate(-330deg) scale(3);
  transform: rotate(-330deg) scale(3);
  z-index: 100;
}
